{% extends "layout.html.twig" %}

{% block main %}
	<div class="header">
		<div class="hero">
			<img src="https://main--zen-jepsen-04a701.netlify.app/_ipx/w_750,q_75/%2Fblog%2Fblog.png?url=%2Fblog%2Fblog.png&w=750&q=75" alt="">
		</div>
		<div class="content">
			<h1>Todo List</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni
			</p>
		</div>
	</div>
{% endblock %}
